services:
  api:
    build: .
    container_name: nestjs-api
    ports:
      - "3000:3000"
    env_file:
      - .env.development.local
    networks:
      - shared-db
    restart: unless-stopped

networks:
  shared-db:
    external: true
